@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/content.css);
@import url(../blocks/card.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);
@import url(../blocks/modal.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@font-face {
  font-family: "ubuntu-regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-bold";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-Italic";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Ubuntu-Italic.ttf) format("truetype");
}